@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 89%;

    --card: 0 0% 0%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 89%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 5%;
    --secondary-foreground: 0 0% 75%;

    --muted: 0 0% 10%;
    --muted-foreground: 0, 0%, 45%;

    --accent: 0 0% 12%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 50%;
    --ring: hsl(212.7, 26.8%, 83.9);

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import url("./fonts.css");

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .hud {
    @apply m-[18px] w-auto rounded-[18.75px];
  }
  .hud-border {
    @apply m-[18px] w-auto rounded-[18.75px] border border-OffWhite/[.33];
  }
  .card-hover-glow {
    @apply before:absolute before:left-0 before:top-0 before:h-full before:w-full before:rounded-[10px] before:bg-gradient-card-before before:opacity-0 before:transition-opacity before:duration-500 before:content-['']
        after:absolute after:left-0 after:top-0 after:h-full after:w-full after:rounded-[10px] after:bg-gradient-card-after after:opacity-0 after:transition-opacity after:duration-500  after:content-['']
        hover:before:opacity-100 
        group-hover:after:opacity-100;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
  }
}

@keyframes dialog-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes dialog-hide {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scrollbar-color: transparent;
  scrollbar-width: thin;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--LightMiddleGrey40);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--LightMiddleGrey);
}
/* Optional: Make scrollbar transparent */
/* Note: This works only in Firefox and IE */
