@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .hud {
    @apply m-[18px] w-auto rounded-[18.75px];
  }
  .hud-border {
    @apply m-[18px] w-auto rounded-[18.75px] border border-OffWhite/[.33];
  }
  .card-hover-glow {
    @apply before:absolute before:left-0 before:top-0 before:h-full before:w-full before:rounded-[10px] before:bg-gradient-card-before before:opacity-0 before:transition-opacity before:duration-500 before:content-['']
        after:absolute after:left-0 after:top-0 after:h-full after:w-full after:rounded-[10px] after:bg-gradient-card-after after:opacity-0 after:transition-opacity after:duration-500  after:content-['']
        hover:before:opacity-100 
        group-hover:after:opacity-100;
  }
}

@keyframes dialog-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes dialog-hide {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scrollbar-color: transparent;
  scrollbar-width: thin;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--LightMiddleGrey40);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--LightMiddleGrey);
}
/* Optional: Make scrollbar transparent */
/* Note: This works only in Firefox and IE */
