
.IMG001 {
  opacity: 25%;
  width: 10%;
  filter: invert();
  position: absolute;
  top: 0;
  transition: all cubic-bezier(.4, 0, .2, 1) .5s;
}
.IMG001:hover {
  opacity: 75%;
  animation: shake 3s infinite;
}

.IMG002 {
  opacity: 25%;
  width: 10%;
  filter: invert();
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all cubic-bezier(.4, 0, .2, 1) .5s;
}

.IMG002:hover {
  opacity: 75%;
  animation: shake 3s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(5deg);
  }

  10% {
    transform: rotate(-5deg);
  }

  15% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.container {
    background-color: var(--Black);
    width: auto;
    margin: 18px;
    border-radius: 18.75px;
    overflow-x: hidden;
    position: relative;
    border: 1px solid var(--Offwhite33);
    color: var(--Offwhite);
    display: flex;
}
.container::-webkit-scrollbar {
  display: none;
}
.markdown {
  margin: 25px auto;
  width: 100%;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 45px;
  border: 1px solid var(--Offwhite33);
  border-radius: 18.75px;
  transition: border cubic-bezier(.4, 0, .2, 1) .5s;
}
.markdown h1,.markdown h2,.markdown h3,.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: CygnitoMono-011;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1em 0;
  
}

.markdown h1 {
  text-align: center;
}
.markdown h2 {
  border-top: 1px solid var(--Offwhite33);
  padding: 1em 0;
}
    

.markdown p {
  /* Style for paragraphs */
  font-family: CygnitoMono-011;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--Offwhite66);
  margin: 1em 0;
}

.markdown li {
  font-family: CygnitoMono-011;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--Offwhite33);
}

.markdown img {
  width: 100%;
  margin: 25px 0;
}

.markdown pre > code {
  width: 100%;
  display: block;
  overflow-x: scroll;
  padding-bottom: 10px;
}
.markdown pre>code::-webkit-scrollbar {
  height: 6px;
}

.markdown pre:has(code) {
  background-color: var(--AlmostBlack);
  color: var(--Offwhite33);
  padding: 2em;
  margin: 1em 0;
  border-radius: 18.75px;
  border: 1px solid var(--Offwhite33);
}

.markdown :not(pre)>code {
  font-family: CygnitoMono-011;
  background-color: var(--AlmostBlack);
  color: var(--Grey);
  border-radius: 4px;
  padding: 2.5px;
  font-weight: 300;
}

.DotNav {
  z-index: 1;
  margin: 1em 0 2em;
  transition: all cubic-bezier(.4, 0, .2, 1) .5s;
}

.DotNav>ul {
  padding: 0;
}

.DotNav>ul>li {
  list-style: none;
  color: var(--Grey);
  opacity: 0.5;
  transition: all 0.25s linear;
  font-family: CygnitoMono-002;
  font-size: 18px;
  text-transform: uppercase;
  transition: all cubic-bezier(.4, 0, .2, 1) .5s;
}

.DotNav>ul>li.header {
  opacity: 0.75;
}

.DotNav>ul>li:not(.header)::before {
  color: var(--DarkGrey);
  content: " | ";
}

.DotNav>ul>li>a {
  color: var(--DarkGrey);
  transition: color 0.25s linear;
  transition: opacity 0.25s linear;
  list-style: none;
  text-decoration: none;
}

.DotNav>ul>li:hover {
  font-size: 20px;
  opacity: 1;
  /* color: var(--Offwhite); */
}

.DotNav>ul>li>a:hover {
  opacity: 1;
  color: var(--Grey);
}
.nav {
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 1;
  margin: 0;
  transition: all cubic-bezier(.4, 0, .2, 1) .5s;
  margin-left: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.vistBtn {
  padding: 0.5em 2em;
  font-family: CygnitoMono-011;
  font-size: 15px;
  max-width: 180px;
  max-height: 50px;
  border: 1px solid var(--Offwhite);
  color: var(--KindaBlack);
  border-radius: 12px;
  background-color: var(--Offwhite);
  transition: all 0.25s ease, margin 1ms;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.vistBtn:hover {
  background-color: transparent;
  color: var(--Offwhite66);
}



.spacer {
  min-width: 390px;
  height: 100%;
  display: none;
}

.tags {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  gap: 1em;
  margin: 20px 0 ;
  /* border: 1px solid var(--Offwhite33); */
}

.tag {
  padding: 0.25em 1.5em;
  font-family: CygnitoMono-011;
  font-size: 10px;
  border: 1px solid var(--Offwhite33);
  border-radius: 5px;
  color: var(--LightMiddleGrey);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.info {
  font-family: CygnitoMono-011;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--DarkGrey);
}
.info > span {
  opacity: 0.75;
}

@media only screen and (max-width: 1825px) {
 
  .spacer {
    display: flex;
  }
}

@media only screen and (max-width: 1400px) {
  .markdown {
    border: 1px solid transparent;
  }
    
}
@media only screen and (max-width: 1150px) {
  .spacer {
    min-width: 250px;
    height: 100%;
  }
    .nav {
      max-width: 200px;
    }
    .DotNav>ul>li {
      font-size: 14px;
    }
        .DotNav>ul>li:hover {
          font-size: 15px;
        }
}

@media only screen and (max-width: 700px) {
  .spacer {
    display: none;
  }
  .nav > * {
    opacity: 0;
  }
}